black==19.3b0
colored==1.3.93
coverage==4.5.1
coveralls==1.7.0
pyinstaller==3.5
pylint==2.3.1
pytest==4.4.1
pytest-mock==1.10.3
python-githooks==1.0.6
python-semantic-release==4.3.0
rope==0.14.0
semver==2.8.1
snapshottest==0.5.1
