name: Build Python App

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        make install
    - name: Lint source files
      run: |
        make lint
    - name: Run sanities
      env:
        NVSHIM_AUTO_INSTALL: true
        NVSHIM_VERBOSE: true
      run: |
        make sanities
    - name: Run tests
      env:
        SETUPTOOLS_SCM_PRETEND_VERSION: 0.0.0
      run: |
        make coverage
    - name: Report coverage
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: |
        make report
    - name: Run release
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        make deploy
